<!doctype html><html><head><title>ACME</title><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"><style></style><style>.wrapper{margin-top:80px;margin-bottom:80px}.form-signin{max-width:380px;padding:15px 35px 45px;margin:0 auto;background-color:#fff;border:1px solid rgba(0,0,0,.1)}.checkbox,.form-signin-heading{margin-bottom:30px}.checkbox{font-weight:400}.form-control{position:relative;font-size:16px;height:auto;padding:10px;box-sizing:border-box}.form-control:focus{z-index:2}@media only screen and (max-width:767px){.wrapper{margin-top:10px;margin-bottom:20px}.form-signin{padding-left:15px;padding-right:15px;border:none;padding-bottom:0}.form-signin-heading{margin-bottom:10px;font-size:20px}.form-control{padding:inherit;padding:6px}p{line-height:40px}}input[type=email],input[type=password],input[type=text]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0}input[name=mainProject]{border-top-left-radius:0;border-top-right-radius:0}</style></head><body><div class="signin-container container"><div class="wrapper"> {{#if message.length }} <div class="alert alert-danger">{{message}}</div> {{/if}} <form class="form-signin" data-toggle="validator" id="signupForm" action="/registry" method="post"><h2 class="form-signin-heading">请注册</h2><input type="text" class="form-control username" maxlength="15" data-minlength="6" name="username" placeholder="用户名" required autofocus> <input type="password" class="form-control password" name="password" placeholder="密码" required data-minlength="6"> <input type="text" class="form-control display" name="display" placeholder="昵称"> <input type="email" class="form-control email" name="email" placeholder="邮箱"> <input type="text" class="form-control mobile" name="mobile" placeholder="手机号码"> <input type="text" class="form-control weixin" name="weixin" placeholder="微信"> <input type="text" class="form-control company" name="company" placeholder="公司名称" required> <input type="text" class="form-control address" name="address" placeholder="公司地址"> <input type="text" class="form-control mainProject" name="mainProject" placeholder="主营项目"><div class="panel-body"><label class="control-label col-xs-6">所在地区</label> <select class="col-xs-6" name="region"><option value="1">大陆</option><option value="2">港澳台</option></select></div><button class="btn btn-lg btn-primary btn-block login-btn" id="loginBtn" type="submit">注册</button><p>已经有账号? <a href="/signin">登录</a></p></form> {{!-- <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <form class="form" validate="true">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">用户名 *</label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Lastname *</label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Phone</label>
                                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-send disabled" value="Send message">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted"><strong>*</strong>为必填项.</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> --}} </div></div><script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script><script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> {{!-- <script src="https://cdn.bootcss.com/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script> --}} </body></html>